- content_for :title, 'Admin - Import'
= render 'admin/admin_layout' do
  .panel.panel-default
    .panel-heading
      %h3.panel-title Student Import
    .panel-body
      = simple_form_for @student, url: import_students_path, input_html: {multipart: true} do |f|
        = f.error_notification
        .form-inputs
          = f.association :course_year
          = f.input :file, as: :file
        .form-actions
          = f.button :submit, 'Import Students', class: 'btn-primary'

  .panel.panel-default
    .panel-heading
      %h3.panel-title Student Import Pictures
    .panel-body
      = simple_form_for @student, url: import_student_pictures_path, input_html: {multipart: true} do |f|
        = f.error_notification
        .form-inputs
          = f.input :file, as: :file
        .form-actions
          = f.button :submit, 'Import Students Pictures', class: 'btn-primary'
